<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Garage V.Parrot</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="icon" href="images/vparrot.png">
    <script src="https://unpkg.com/alpinejs" defer></script>
    </head>

    <body>
    <nav>
        <article class="nav-text">
            <a href=""><h3>Modèles</h3></a>
            <a href=""><h3>Avis</h3></a>
            <a href=""><h3>Nous contacter</h3></a>
        </article>
        <article class="logo">
            <a href="">
                <img id="logo" src="images/vparrot.png" alt="logo">
            </a>
        </article>
        <article>
            <a href="">
                <img src="images/localisation.svg" alt="localisation">
            </a>    
            <a href="">
                <img src="images/seconnecter.svg" alt="connexion">
            </a>
        </article>
    </nav>        
        <header> 
            
            <video autoplay loop muted preload="auto" src="videos/garage.mp4" type="video/mp4">Votre naviguateur ne supporte pas la vidéo.
            </video>  

            <div class="hero-text"> 
                <h2>Garage V. Parrot</h2>
                <h3>Votre naviguateur ne supporte pas la vidéo.Votre naviguateur ne supporte pas la vidéo.Votre naviguateur ne supporte pas la vidéo.Votre naviguateur ne supporte pas la vidéo.</h3>
                
            </div>
            <button class="header-button"><a href="">fesfs</a></button>
        </header>
        <script src=""></script>
    </body>
</html>