<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Garage V.Parrot</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="icon" href="images/vparrot.png">
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav>
            <article class="nav-text">
                <a href=""><h3>Modèles</h3></a>
                <a href=""><h3>Avis</h3></a>
                <a href=""><h3>Nous contacter</h3></a>
            </article>
            <article class="logo">
                <a href="">
                    <img id="logo" src="images/vparrot.png" alt="logo">
                </a>
            </article>
            <article>
                <a href="">
                    <img src="images/localisation.svg" alt="localisation">
                </a>    
                <a href="">
                    <img src="images/seconnecter.svg" alt="connexion">
                </a>
            </article>
        </nav>        
        <header> 
            
            <video autoplay loop muted preload="auto" src="videos/garage.mp4" type="video/mp4">Votre naviguateur ne supporte pas la vidéo.
            </video>  

            <div class="hero-text"> 
                <h2>Garage V. Parrot</h2>
                <h3>Votre naviguateur ne supporte pas la vidéo.Votre naviguateur ne supporte pas la vidéo.Votre naviguateur ne supporte pas la vidéo.Votre naviguateur ne supporte pas la vidéo.</h3>
                
            </div>
            <button class="button-home"><a href="">fesfs</a></button>
        </header>
        <main class="main-home">
            <h2>Nos services</h2>
            <section>
                <article>
                    <img id="réparation" src="images/Speed-1--Streamline-Brooklyn.png"></img>
                    <h3>Réparation / Entretien</h3>
                    <p>ACE Auto Carrosserie apporte un œil d’expert sur votre véhicule. Nos experts identifient les réparations à effectuer et détermine le temps de travail nécessaire avec l’expert automobile</p>
                </article>
                <article>
                    <img id="carroserie" src="images/Rating-1--Streamline-Brooklyn.png"></img>
                    <h3>Contrôle technique</h3>
                    <p>ACE Auto Carrosserie apporte un œil d’expert sur votre véhicule. Nos experts identifient les réparations à effectuer et détermine le temps de travail nécessaire avec l’expert automobile</p>
                </article>
                <article>
                    <img id="controle" src="images/Boasting-1--Streamline-Brooklyn.png"></img>
                    <h3>Carroserie / Peinture</h3>
                    <p>ACE Auto Carrosserie apporte un œil d’expert sur votre véhicule. Nos experts identifient les réparations à effectuer et détermine le temps de travail nécessaire avec l’expert automobile</p>
                </article>
                
            </section>
            <button class="button-home">Nous contacter</button>
        </main> 
        <aside class="aside-home">
            <section>
                <article>
                    <h3>20+</h3>
                    <p>Années d'expériences</p>
                </article>
                <article>
                    <h3>8000+</h3>
                    <p>Nombres de voitures réparées</p>
                </article>
                <article>
                    <h3>7</h3>
                    <p>Collaborateurs</p>
                </article>
                <article>
                    <h3>98%</h3>
                    <p>Satisfactions clients</p>
                </article>
            </section>
        </aside>
        <section class="section-home">
            <article class="avis-titre-home"><h3>Commentaires</h3>
            <h2>L'avis des clients</h2>
            {# <h2>Client says</h2> #}
            </article>
            
            <article class="reviews-home">
                {# 1 Box #}
                <section class="reviews-box-home">

                    <article class="reviews-top-box">
                        <img src="images/carrossier-carrosserie-bmw-mini-paris-11.jpg">
                         <div class="name-username">
                            <h3>Landy</h3>
                            <p>@Kaiizer</p>
                        </div>
                        <div class="stars-review">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </article>
                    <article class="reviews-bottom-box">
                        <p>Commentaire blabla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi modi, eos ipsam expedita quos rem assumenda commodi quam qui quia mollitia est, dignissimos impedit laboriosam, molestiae voluptatum deserunt animi dolore.</p>
                    </article>
                </section>

                <section class="reviews-box-home">

                    <article class="reviews-top-box">
                        <img src="images/carrossier-carrosserie-bmw-mini-paris-11.jpg">
                         <div class="name-username">
                            <h3>Shana</h3>
                            <p>@ShamanK93</p>
                        </div>
                        <div class="stars-review">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </article>
                    <article class="reviews-bottom-box">
                        <p>Commentaire blabla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi modi, eos ipsam expedita quos rem assumenda commodi quam qui quia mollitia est, dignissimos impedit laboriosam, molestiae voluptatum deserunt animi dolore.</p>
                    </article>
                </section>
                <section class="reviews-box-home">

                    <article class="reviews-top-box">
                        <img src="images/carrossier-carrosserie-bmw-mini-paris-11.jpg">
                         <div class="name-username">
                            <h3>Joël</h3>
                            <p>@Viellet</p>
                        </div>
                        <div class="stars-review">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </article>
                    <article class="reviews-bottom-box">
                        <p>Commentaire blabla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi modi, eos ipsam expedita quos rem assumenda commodi quam qui quia mollitia est, dignissimos impedit laboriosam, molestiae voluptatum deserunt animi dolore.</p>
                    </article>
                </section>
                <section class="reviews-box-home">

                    <article class="reviews-top-box">
                        <img src="images/carrossier-carrosserie-bmw-mini-paris-11.jpg">
                         <div class="name-username">
                            <h3>Désiré</h3>
                            <p>@JohnInShape</p>
                        </div>
                        <div class="stars-review">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </article>
                    <article class="reviews-bottom-box">
                        <p>Commentaire blabla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi modi, eos ipsam expedita quos rem assumenda commodi quam qui quia mollitia est, dignissimos impedit laboriosam, molestiae voluptatum deserunt animi dolore.</p>
                    </article>
                </section>
            </article>
            <button class="button-home">Rédiger un avis</button>
        </section>

        <script src=""></script>
    </body>
</html>