@font-face {
    font-family: 'Tisa Light';
    src: url(assets/Tisa\ Sans\ Pro\ Light.ttf);
}
@font-face {
    font-family: 'Tisa Regular';
    src: url(assets/Tisa\ Sans\ Pro\ Regular.ttf);
}
@font-face {
    font-family: 'Brown Pen';
    src: url(assets/Brown\ Pen.otf);
}

@font-face {
    font-family: 'Aeonik Light';
    src: url(assets/AeonikProTRIAL-Light.otf);
}

@font-face {
    font-family: 'Aeonik Bold';
    src: url(assets/AeonikProTRIAL-Bold.otf);
}

@font-face {
    font-family: 'Aeonik Regular';
    src: url(assets/AeonikProTRIAL-Regular.otf);
}

@font-face {
    font-family: 'Inter Light';
    src: url(assets/Inter-Light.ttf);
}

@font-face {
    font-family: 'Inter Regular';
    src: url(assets/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter Bold';
    src: url(assets/Inter-Black.ttf);
}

html{
    scroll-behavior: smooth;
}
body{
    /* display: flex; */
    /* flex-direction: column; */
    overflow-x: hidden;
    font-family: 'Inter Regular';
    color: #161616;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    /* background-image: url(images/ciel.webp); */
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}
nav{
    background-color: white;
    z-index: 100;
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */

    /* padding-right: 4em; */
    -webkit-box-shadow: 0 8px 10px -6px #000000;
    -moz-box-shadow: 0 8px 10px -6px #000000;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    position:sticky;
    top:0;
}
nav article{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    /* margin: 1em 1em 0 1em; */

}
nav article.logo{
    /* border: solid red; */
    width: 23%;
}
nav article.nav-text{
    width: 25%;
    /* border: solid red; */
}
nav article.nav-text a{
    text-decoration: none;
}
nav article h3{
    color: #161616;
    /* margin: 1em 2rem; */
}
nav img{
    margin: 1em 1em 0 1em;
    height: 30px;
    width: 30px;
    
}
nav img#logo{
    margin-right: 5em;
    margin-top: 0;
    height: 60px;
    width: 80px;
    /* border: solid red; */
}
header{
    display: flex;
    color: white;
    /* margin: 0; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    /* border: solid red; */
    /* background-color: black; */
    padding-bottom: 10%;
    /* margin-top: 10%; */
    
}    
header video{
    height: 100%;
    width: 100%;
    /* border: solid red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

header .hero-text{
    font-family: 'Tisa Regular';
    margin-top: 3em;
    
}
header .hero-text h2{
    text-align: center;
    font-size: 72px;
    font-weight: 600;
}

header .hero-text h3{
    /* border: solid red; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-wrap: wrap;
    text-align: center;
    /* padding-bottom: 2em; */
    /* padding-bottom: 10%; */
}


/* CSS */
.button-home {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
}

.button-home:disabled {
  cursor: default;
}

.button-home:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* Main ------- */
main{
    /* background-image: url(images/gradient-blue.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}
.main-home{
    background-color: #fafafa;
    margin: 2em 0;
    padding-top: 1%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: white; */
}

.main-home h2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 2%;
}

.main-home section{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.main-home article{
    background-color: white;
    display: flex;
    width: 30%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid grey;
}
.main-home article img{
    height: 200px;
    width: 200px;
    border-radius: 4%;
}
.main-home article p{
    width: 65%;
    /* border: solid red; */
    margin-left: auto;
    margin-right: auto;
}

.main-home button{
    margin-top: 4em;
}

/* Aside home --------------- */

.aside-home{
    /* background-image: url(images/gradient-blue.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    
    padding-top: 2%;
    padding-bottom: 2%;
}

.aside-home section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.aside-home section article{
    /* border: 0.1px solid grey; */
    border: 1px solid rgba(128, 128, 128, 0.25);
    width: 18%;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center	; */
    /* margin: 0 2em; */
    margin-left: 1em;
    margin-right: 1em;
}

.aside-home h3{
    font-size: 36px;
    /* border: solid green; */
    margin: 20px;
    /* margin-bottom: 0; */

}
.aside-home p{
    /* border: solid red; */
    font-size: 16px;
    margin-bottom: 20px;
}

/* Section -------------- */

.section-home{
    background-image: url(images/lines.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-home .avis-titre-home{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-home .avis-titre-home h3{
    font-size: 20px;
}
.section-home .avis-titre-home h2{
    background-color: #202020;
    border-radius: 11px;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    /* width: 100%; */
}

.reviews-home{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3%;
}
.reviews-box-home{
    width: 550px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.reviews-box-home img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /* border: solid black; */
}
.reviews-box-home:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
.reviews-top-box{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap;  */
    /* align-items: flex-start; */
}

.reviews-top-box .name-username{
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    margin-left: 5px;
}
.reviews-top-box h3{
    /* border: solid red; */
    margin: 0;
}
.reviews-top-box p{
    margin-top: 10px;
}

.fa-star{
    color: #f9d71c;
}

.section-home button{
    margin-top: 4em;
}

/* Footer */

footer{
    padding: 4% 0 3% 0;
    background-color: #181818;
    color: white;
    display: flex;
    justify-content: space-evenly;
}


footer section article{
    display: flex;
    /* justify-content: space-evenly;    */
    align-items: center;
    margin: 1em 0;
}

footer section article img{
    margin-right: 1em;
    height: 35px;
    width: 35px;
}

footer section article p{
    margin: 10px 0;
}

#localisation-footer{
    font-weight: bold;
}
footer section iframe{
    height: 200px;
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    
}
footer h3{
    color: #405cf5;
    /* color: #D7E0FF; */
    font-family: 'Aeonik Bold';
}

.iframe-footer{
    /* border: 3px solid white; */
}


/* Page nouvel avis  */

/* .reviews-box-home{
    width: 550px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
} */

.base-twig{
    background-image: url("images/lines-2.png");
}

.write-review{
    width: 35%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    /* display: flex; */
}

.write-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.p{
    border: red;
}

/* Page créer review */

.h1-new-review{
    text-align: center;
    padding-bottom: 1em;
}

.form-control{
    /* display: flex; */
    /* justify-content: space-around;
    align-items: flex-end; */
    /* flex-direction: row; */
    /* border: solid red; */
    /* flex-wrap: nowrap; */
    margin-left: 1em;
    /* width: 25%; */

}

.btn-review{
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
}

#review{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid red; */
}

#review div{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

#review #review_image{
    margin: 1em 0 0 4em ;

}
.required{
    margin-top: 1em;
    /* border: solid red; */
}

/* Page Index Review */

.table a{
    color: black;
}

.btn-index-review{
    float: left;
    margin-left: 1em;
    margin-top: 3em;
}

/* Page Login */

.background-login{
    background-image: url(images/ciel.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .wrapper{
      width: 380px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
      z-index: 100;
      margin-left: 550px;
      margin-top: 100px;   
    }
    .wrapper .title{
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      line-height: 100px;
      color: #fff;
      user-select: none;
      border-radius: 15px 15px 0 0;
      background: #4158d0;
    }
    .wrapper form{
      padding: 10px 30px 50px 30px;
    }
    .wrapper form .field{
      height: 50px;
      width: 100%;
      margin-top: 20px;
      position: relative;
    }
  
    
    .wrapper form .field input{
      height: 100%;
      width: 85%;
      outline: none;
      font-size: 17px;
      padding-left: 20px;
      border: 1px solid lightgrey;
      border-radius: 25px;
      transition: all 0.3s ease;
    }
    .wrapper form .field input:focus,
    form .field input:valid{
      border-color: #4158d0;
    }
    .wrapper form .field label{
      position: absolute;
      top: 50%;
      left: 20px;
      color: #999999;
      font-weight: 400;
      font-size: 17px;
      pointer-events: none;
      transform: translateY(-50%);
      transition: all 0.3s ease;
    }
    form .field input:focus ~ label,
    form .field input:valid ~ label{
      top: 0%;
      font-size: 16px;
      color: #4158d0;
      background: #fff;
      transform: translateY(-50%);
    }
    form .content{
      display: flex;
      width: 100%;
      height: 50px;
      font-size: 16px;
      align-items: center;
      justify-content: space-around;
    }
    form .content .checkbox{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    form .content input{
      width: 15px;
      height: 15px;
      
    }
    form .content label{
      color: #262626;
      user-select: none;
      padding-left: 5px;
    }
  
    form .field input[type="submit"]{
      color: #fff;
      border: none;
      padding-left: 0;
      margin-top: -10px;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      background: #4158d0;
      transition: all 0.3s ease;
    }
  
    form .field #nini:hover{
      background: #1d2b73;
    }
    
  
    form .field input[type="submit"]:active{
      transform: scale(0.95);
      
    }
  
    form .signup-link{
      color: #262626;
      margin-top: 20px;
      text-align: center;
  
    }
    form .pass-link a,
    form .signup-link a{
      color: #4158d0;
      text-decoration: none;
    }
    form .pass-link a:hover,
    form .signup-link a:hover{
      text-decoration: underline;
      
    }

    .wrapper form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
  
    .content{
        margin-top: 1em;
    }
    

/* Page modèle voitures */

.models{
    display: flex;
    
}
.car-listing{
    /* display: flex; */
    /* flex-direction: column; */
    width: 25%;
    margin: 1em;
    font-family: 'Inter Light' ;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    line-height: 0.5em;
  
  }
  .car-listing img{
    height: 350px;
    width: 100%;
  }
  .car-listing article{
    display: flex;
    flex-direction: column;
    
  }
  
  .ligne1-car{
    font-family: 'Inter Regular';
    font-size: 20px;
    font-weight: 900;
    /* color:#405cf5; */
    display: flex;
    justify-content: space-between;
  }
  .ligne2-car{
    display: flex;
    justify-content: space-between;
  }
  
  .description-car{
    margin-top: 10px;
  }
  .car-listing button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .car-listing button:hover {
    background-color: #3e8e41;
  }