{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}
    
{% block body %}
    <section class="write-box">
        <article class="write-review">
            <h1>Create new Review</h1>

            {{ include('review/_form.html.twig') }}

            <a href="{{ path('app_review_index') }}">back to list</a>
        </article>
    </section>
{% endblock %}
